server {
    listen       80;
    server_name  localhost;

    location / {
        {% for host in groups['load_balancer']%}
        allow {{ host }};
        {% endfor %}
        deny all;
        proxy_pass http://simple-app;
    }

    # Healthcheck endpoint
    location /health {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{"ok": true}';
    }
}